---
// Components
import { Image } from "astro:assets";
import { LinkButton } from "../shared";

// Types
import type { ImageMetadata } from "astro";
export type ServiceType = {
  heading: string;
  body: string[];
  specs: string[];
  src: ImageMetadata;
  alt: string;
  isImageLeft?: boolean;
  isTiltedPos?: boolean;
  isTiltedNeg?: boolean;
  loading?: "lazy" | "eager";
};

const {
  heading,
  body,
  specs,
  src,
  alt,
  isImageLeft = false,
  isTiltedPos = false,
  isTiltedNeg = false,
  loading = "lazy",
} = Astro.props as ServiceType;
---

<div class="flex flex-col gap-8 md:flex-row md:gap-16 lg:gap-24">
  <div class="flex flex-3 flex-col gap-8">
    <h3 class="heading-subsection font-2 text-lunar-primary">{heading}</h3>
    <p class="body-copy flex flex-col gap-8">
      {body.map((text) => <span>{text}</span>)}
    </p>
    <ul class="body-copy list-inside list-disc">
      Specs:
      {specs.map((spec) => <li>{spec}</li>)}
    </ul>
    <LinkButton className="self-start" href="/contact">BOOK NOW</LinkButton>
  </div>
  <div
    class:list={[
      "order-first flex-4",
      { "md:order-first": isImageLeft },
      { "md:order-last": !isImageLeft },
    ]}
  >
    <Image
      src={src}
      alt={alt}
      class:list={[
        "shadow-2xl",
        { "md:rotate-5": isTiltedPos },
        { "md:-rotate-5": isTiltedNeg },
      ]}
      loading={loading}
    />
  </div>
</div>
