---
// Components
import { Content, LinkButton, MenuButton } from "@/components/shared";
import { PhoneCall } from "lucide-react";

// Data
import { links } from "@/data/links";
import { PHONE } from "@/data/business";

const { className } = Astro.props as { className: string };
---

<header
  class={`bg-gradient-dark relative flex h-24 w-full items-center text-white select-none ${className}`}
>
  <Content>
    <div class="flex w-full justify-between">
      <nav class="flex items-center gap-[60px]">
        <a href="/" class="font-heading font-2 text-[22px]">
          <h1>Lunar Lifts</h1>
        </a>
        <ul class="hidden gap-8 md:flex lg:gap-[60px]">
          {
            links.map((link) => {
              return (
                <li>
                  <a class="nav-text link-light uppercase" href={link.href}>
                    {link.display}
                  </a>
                </li>
              );
            })
          }
        </ul>
      </nav>
      <div class="flex gap-10">
        <LinkButton
          className="hidden sm:block sm:self-end"
          href={`tel:${PHONE}`}
          variant="PRIMARY"
          color="LIGHT"
          size="SM"
          Icon={PhoneCall}
        >
          {PHONE}
        </LinkButton>
        <MenuButton className="md:hidden" client:load />
      </div>
    </div>
  </Content>
</header>
