---
// Components
import { Content, LinkButton, MenuButton } from "@/components/shared";
import { PhoneCall } from "lucide-react";
import { AnimatePresence } from "motion/react";

// Data
import { links } from "@/data/links";
import { PHONE } from "@/data/business";

const { className } = Astro.props as { className: string };
---

<header
  class={`relative flex h-24 w-full items-center text-white select-none transition-all duration-300 ${className}`}
>
  <Content className="z-10">
    <div class="flex w-full justify-between">
      <nav class="flex items-center gap-[60px]">
        <a href="/" class="font-heading font-2 text-[22px]">
          <h1>Lunar Lifts</h1>
        </a>
        <ul class="hidden gap-8 lg:flex lg:gap-[60px]">
          {
            links.map((link) => {
              return (
                <li>
                  <a
                    class="nav-text link-light group relative uppercase"
                    href={link.href}
                  >
                    <span class="bg-lunar-white absolute bottom-0 left-0 h-0.5 w-0 transition-all duration-300 group-hover:w-full" />
                    {link.display}
                  </a>
                </li>
              );
            })
          }
        </ul>
      </nav>
      <div class="flex gap-10 transition-all duration-300">
        <LinkButton
          className="hidden sm:block sm:self-end"
          href={`tel:${PHONE}`}
          variant="PRIMARY"
          color="LIGHT"
          size="SM"
          Icon={PhoneCall}
        >
          {PHONE}
        </LinkButton>
        <div class="flex w-[24px] items-center">
          <MenuButton className="lg:hidden" client:load />
        </div>
      </div>
    </div>
  </Content>
</header>
